.position-relative {
    position: relative;
}

.eye-btn {
    background-color: transparent;
    border: none;
    position: absolute;
    bottom: 6rem;
    right: 1rem;
    width: 4rem;
    height: 4rem;
    font-size: 1.6rem;
}