.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    max-width: 70%;
    text-align: center;
}

.start-btn {
    margin-top: 3rem;
    width: 20rem;
}

.start-btn:hover {
    transform: translate(1px, 1px);
}