.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    max-width: 70%;
    text-align: center;
}

.start-btn {
    margin-top: 30px;
    border: 1px solid;
    padding: 8px;
    border-radius: 20px;
    border-color: darkorange;
    background-color: orange;
    color: black;
    width: 200px;
    display: inline-block;
    text-align: center;
    font-size: medium;
    cursor: pointer;
}

.start-btn:hover {
    transform: translate(1px, 1px);
}