nav {
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 8rem; 
    align-self: stretch;
    position: fixed;
    top: 0;
    width: 100vw;
    box-shadow: 2px 0px 3px gray;
}

.nav-logo {
    display: flex;
}

.nav-logo img {
    position: absolute;
    height: 4rem;
    z-index: 0;
}

.nav-logo > p {
    margin-left: 2rem;
    font-weight: 700;
    font-size: 2.4rem;
    z-index: 1;
    padding: 0px;
    margin: 1rem;
    margin-left: 2.1rem;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links > li {
    margin-right: 2rem;
}

.nav-links a {
    text-decoration: none;
    color: black;
}

.nav-links a:hover {
    text-decoration: underline;
}

.nav-buttons a {
    margin-top: 0px;
    text-decoration: none;
    color: black;
    width: 8rem;
    display: inline-block;
    text-align: center;
}

.signup-btn {
    margin-left: 2rem;
    margin-right: 1rem;
}

.nav-buttons {
    margin-left: 4rem;
}

@media (max-width: 768px) {
nav {
    height: 6rem;
}

.nav-links {
    position: absolute;
    top: 6rem;
    left: 0rem;
    background-color: rgb(254, 254, 254);
    width: 100vw;
    margin: 0px;
    justify-content: space-around;
    padding: 1.5rem;
    font-size: large;
}


.nav-buttons {
    margin-left: 0rem;
}

}