.record {
    border-bottom: 1px gray dotted;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.delete-icon {
    margin-right: 0rem;
    margin-left: 0rem;
}


.delete-icon:hover {
    background-color: lightgray;
    
}

.del-btn {
    display: inline;
    background-color: white;
    margin-right: 3rem;
    margin-left: 3rem;
    border-radius: 50%;
    padding: 0;
    border: none;
    cursor: pointer;
}