* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #FFF7ED;
  font-family: "Inter", sans-serif;
  font-size: 62.5%;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#root {
  background-color: rgb(255, 255, 255);
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.5rem;
}

p, li, a, div {
  font-size: 1.6rem;
}

.orange {
  background-color: orange;
}

.gray-text {
  color: gray;
}

.red-text {
  color: red;
}

.btn {
  border: 1px solid;
  padding: 0.8rem;
  border-radius: 2rem;
  border-color: darkorange;
  font-size: 1.6rem;
}

.btn:hover {
  transform: translate(1px, 1px);
}

.white-container {
  background-color: white;
  margin: 8rem 0 0rem;
  padding: 5rem;
  width: 50%;
  text-align: center;
  flex-grow: 1;
}

.input-btn {
  width: 8rem;
  background-color: white;
  border-radius: 0px 20px 20px 0px;
  height: 3.6rem;
  font-size: 1.6rem;
  border: solid 1px darkorange;
}

.input-btn:hover {
  background-color: orange;
  color: white;
}

.input-btn:active {
  background-color: darkorange;
}

.input-box { 
  height: 3.6rem;
  border-radius: 20px 0 0 20px;
  border: solid 1px darkorange;
  font-size: 1.6rem;
  padding: 0.5rem;
  text-indent: 1rem;
}

.circle-icon {
  background-color: white;
  color: #ae4d06;
  height: 2.5rem;
  width: 2.5rem;
  stroke-width: 0.2rem;
  border-radius: 50%;
  border: solid 2px #ae4d06;
}

.circle-icon:hover {
  background-color: darkorange;
  color: white;
}

@media (max-width: 1200px) {
.white-container {
    width: fit-content;
}
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  margin: auto;
}

.form > input {
  border: 1px solid darkorange;
  height: 4rem;
  text-indent: 2rem;
  font-weight: 400;
  font-size: 1.6rem;
}

.form > input:not(:last-of-type) {
  border-bottom: none;
}

.form > input:first-of-type {
  border-radius: 2rem 2rem 0 0;
}

.form > input:last-of-type {
  border-radius: 0 0 2rem 2rem;
}

.form > button {
  width: 9rem;
  margin: auto auto;
  border-radius: 2rem;
  height: 4rem;
  margin-top: 2rem;
}