* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #FFF7ED;
  font-family: "Inter", sans-serif;
  font-size: 62.5%;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#root {
  background-color: rgb(255, 255, 255);
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.5rem;
}

p, li, a, div {
  font-size: 1.6rem;
}

.orange {
  background-color: orange;
}

.btn {
  border: 1px solid;
  padding: 0.8rem;
  border-radius: 20px;
  border-color: darkorange;
  font-size: 1.6rem;
}

.btn:hover {
  transform: translate(1px, 1px);
}

.white-container {
  background-color: white;
  margin: 8rem 0 0rem;
  padding: 5rem;
  width: 50%;
  text-align: center;
  flex-grow: 1;
}

@media (max-width: 1200px) {
.white-container {
    width: fit-content;
}
}